.hide {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

.scrollable {
  overflow-y: auto;
}

.no-y-scrollable {
  overflow-y: hidden;
}

.no-ripple {
  --ripple-color: transparent;
}

.chart {
  width: 100%;
}

.blank-space {
  height: 50px;
}

.margin-top-small {
  margin-top: 1rem;
}

.margin-top-medium {
  margin-top: 1.5rem;
}

.margin-top-big {
  margin-top: 2rem;
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.margin-left-auto {
  margin-left: auto;
}
